{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/exercise.js' %}"></script>
{% endblock %}

{% block content %}
<form class="grid grid-cols-1 gap-6 sm:grid-cols-2" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="space-y-6">
        <div
      class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
    >
      <div class="px-5 py-4 sm:px-6 sm:py-5">
        <h3
          class="text-base font-medium text-gray-800 dark:text-white/90"
        >
          Dodaj nowe ćwiczenie
        </h3>
      </div>
      <div
        class="space-y-6 border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800"
      >
        <!-- Elements -->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Nazwa ćwiczenia
          </label>
          <input name="title" id="title"
            type="text"
            class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
          />
        </div>
        <!-- Elements -->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Język
          </label>
          <div
            x-data="{ isOptionSelected: false }"
            class="relative z-20 bg-transparent"
          >
            <select name="language" id="language"
              class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-4 py-2.5 pr-11 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
              :class="isOptionSelected && 'text-gray-800 dark:text-white/90'"
              @change="isOptionSelected = true"
            >
                {% for language in languages %}
                    <option class="text-gray-700 dark:bg-gray-900 dark:text-gray-400">{{ language.name }}</option>
                {% endfor %}
            </select>
            <span
              class="pointer-events-none absolute top-1/2 right-4 z-30 -translate-y-1/2 text-gray-500 dark:text-gray-400"
            >
              <svg
                class="stroke-current"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.396L10.0001 12.6043L15.2084 7.396"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <!-- Elements -->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Link do wideo
          </label>
          <input name="video_link" id="video_link"
            type="text"
            class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
          />
        </div>
        <div class="flex justify-end">
            <button onclick="submitForm(event)" class="bg-blue-700 hover:bg-blue-900 inline-flex items-center px-10 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800">
                Zatwierdź
            </button>
        </div>
      </div>
    </div>
        <div
      class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
    >
      <div class="px-5 py-4 sm:px-6 sm:py-5">
        <h3
          class="text-base font-medium text-gray-800 dark:text-white/90"
        >
          Opis ćwiczenia
        </h3>
      </div>
      <div
        class="space-y-6 border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800"
      >
        <!-- Elements -->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Opis
          </label>
          <textarea name="html_content"
            id="html_content"
            placeholder="Enter a description..."
            type="text"
            rows="4"
            class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
          ></textarea>
        </div>
      </div>
    </div>
    </div>
    <div class="space-y-6">
        <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
      <div class="px-5 py-4 sm:px-6 sm:py-5">
        <h3
          class="text-base font-medium text-gray-800 dark:text-white/90"
        >
          Zdjęcie treningu
        </h3>
      </div>
      <div
        class="space-y-6 border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800"
      >
        <!-- Elements -->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Prześlij plik
          </label>
          <input name="image" id="image"
            type="file"
            class="focus:border-ring-brand-300 shadow-theme-xs focus:file:ring-brand-300 h-11 w-full overflow-hidden rounded-lg border border-gray-300 bg-transparent text-sm text-gray-500 transition-colors file:mr-5 file:border-collapse file:cursor-pointer file:rounded-l-lg file:border-0 file:border-r file:border-solid file:border-gray-200 file:bg-gray-50 file:py-3 file:pr-3 file:pl-3.5 file:text-sm file:text-gray-700 placeholder:text-gray-400 hover:file:bg-gray-100 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-gray-400 dark:text-white/90 dark:file:border-gray-800 dark:file:bg-white/[0.03] dark:file:text-gray-400 dark:placeholder:text-gray-400"
          />
        </div>
      </div>
    </div>
        <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
      <div class="px-5 py-4 sm:px-6 sm:py-5">
        <h3
          class="text-base font-medium text-gray-800 dark:text-white/90"
        >
          Tagi
        </h3>
      </div>
      <div class="space-y-6 border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800">
        <div class="mb-5 grid grid-cols-3 gap-x-10 w-4/5">
          {% for category in tags_category %}
            <div>
              <div class="block mb-2 font-medium text-gray-900">{{ category.name }}</div>
              {% for tag in tags %}
                {% if tag.category.id == category.id %}
                  <div class="mb-2">
                    <label class="text-xs font-medium text-gray-900 flex items-center gap-2" for="tag-{{ tag.id }}">
                      <input
                        id="tag-{{ tag.id }}"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
                        type="checkbox"
                        name="tags"
                        value="{{ tag.id }}"
                      >
                      {{ tag.name }}
                    </label>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>


      </div>
    </div>
    </div>
</form>
{% endblock %}


{% block end_file %}

<script>
    CKEDITOR.replace('html_content');
</script>
{% endblock %}