{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Dashboard{% endblock %}</title>
  {% load tailwind_tags %}
  {% tailwind_css %}
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body
  x-data="{'loaded': true, 'stickyMenu': false, 'sidebarToggle': false, }"
  class="bg-gray-100 h-full overflow-hidden"
>
  <!-- Preloader -->
  {% include 'partials/preloader.html' %}

  <div class="flex min-h-screen">
      <div class="relative flex flex-row flex-1 overflow-y-auto">
        <!-- Sidebar -->
        {% include 'partials/sidebar.html' %}


    <div class="flex flex-col flex-1 h-screen overflow-hidden">
        <!-- Header -->
        {% include 'partials/header.html' %}

        <main class="flex-1 overflow-y-auto px-5">
            <div class="w-full flex flex-col">
            {% for message in messages %}
                <div class="flex items-center p-4 mb-4 text-sm
                    {% if message.level == 40 %} text-red-800 border-red-300 bg-red-50 {% endif %}
                    {% if message.level == 30 or message.level == 10 %} text-yellow-800 border-yellow-300 bg-yellow-50 {% endif %}
                    {% if message.level == 25 %} text-green-800 border-green-300 bg-green-50 {% endif %}
                    {% if message.level == 20 %} text-blue-800 border-blue-300 bg-blue-50 {% endif %}
                    rounded-lg" role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        <span class="font-medium">
                            {% if message.level == 40 %}
                                Błąd!
                            {% elif message.level == 30 or message.level == 10 %}
                                Ostrzeżenie!
                            {% elif message.level == 25 %}
                                Sukces!
                            {% elif message.level == 20 %}
                                Informacja!
                            {% endif %}
                        </span>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
            {% block content %}{% endblock %}
        </main>
    </div>
    </div>
  </div>
{% block end_file %}{% endblock %}
</body>
</html>
