{% extends 'base.html' %}
{% load static %}

{% block extra_head %}{% endblock %}


{% block content %}
  <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
    <div class="space-y-5 sm:space-y-6">
      <div
        class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
      >
        <div class="px-5 py-4 sm:px-6 sm:py-5">
          <h3
            class="text-base font-medium text-gray-800 dark:text-white/90"
          >
            Lista treningów ogólnych
          </h3>
        </div>
        <div
          class="p-5 border-t border-gray-100 dark:border-gray-800 sm:p-6"
        >
            {% include 'tables/general-workout.html' %}
        </div>
      </div>
        <div
        class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
      >
        <div class="px-5 py-4 sm:px-6 sm:py-5">
          <h3
            class="text-base font-medium text-gray-800 dark:text-white/90"
          >
            Lista treningów personalnych
          </h3>
        </div>
        <div
          class="p-5 border-t border-gray-100 dark:border-gray-800 sm:p-6"
        >
            {% include 'tables/personal-workout.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}