{% extends 'base.html' %}

{% block extra_head %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

{% endblock %}

{% block content %}
    <p class="font-medium text-gray-900 text-2xl mb-7">
            Pokaż użytkowników
        </p>

        <table class="w-full table-fixed" datatable id="exercise-table">
            <thead class="">
              <tr class="bg-white my-5">
                <th style="width: 5%" class="py-5 px-6 text-left text-gray-600 font-bold uppercase">ID</th>
                <th style="width: 20%" class="py-5 px-6 text-left text-gray-600 font-bold uppercase">Imię</th>
                <th style="width: 20%" class="py-5 px-6 text-left text-gray-600 font-bold uppercase">Nazwisko</th>
                <th style="width: 20%" class="py-5 px-6 text-left text-gray-600 font-bold uppercase">Email</th>
                <th style="width: 10%" class="py-5 px-6 text-left text-gray-600 font-bold uppercase">Status</th>
                <th style="width: 25%" class="py-5 px-6 text-left text-gray-600 font-bold uppercase">Akcje</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              {% for client in users %}
              <tr>
                <td class="py-5 w-2 border-b border-r border-gray-200">{{ client.id }}</td>
                <td class="py-5 px-6 border-b border-r border-gray-200">{{ client.first_name }}</td>
                <td class="py-5 px-6 border-b border-r border-gray-200">{{ client.last_name }}</td>
                <td class="py-5 px-6 border-b border-r border-gray-200">{{ client.email }}</td>
                <td class="py-5 px-6 border-b border-r border-gray-200">
                    {% if client.profile.active_until %}
                        <div title="Aktywny do {{ client.profile.active_until|date:'d.m.Y' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                        </div>
                    {% elif client.profile.is_active %}
                        <div title="Aktywny">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                        </div>
                    {% else %}
                        <div title="Nieaktywny">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="15" y1="9" x2="9" y2="15"></line>
                                <line x1="9" y1="9" x2="15" y2="15"></line>
                            </svg>
                        </div>
                    {% endif %}
                </td>

                <td class="py-5 px-6 border-b border-r border-gray-200 flex flex-row justify-around">
                    <a href="{% url 'show_user' id=client.id %}" class="bg-green-600 flex flex-row w-20 justify-around rounded-md text-sm hover:bg-green-800">
                        <p class="text-white my-auto">
                            Pokaż
                        </p>
                        <svg  class="my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><path d="M3 9h18M9 21V9"/></svg>
                    </a>
                    <a href="{% url 'edit_user' id=client.id %}" class="bg-blue-500 flex flex-row w-20 h-6 justify-around rounded-md text-sm hover:bg-blue-700">
                        <p class="text-white my-auto">
                            Edytuj
                        </p>
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                    </svg>
                    </a>
                    <a href="{% url 'delete_user' id=client.id %}" class="bg-red-700 flex flex-row w-20 justify-around rounded-md text-sm hover:bg-red-900">
                        <p class="text-white my-auto">
                            Usuń
                        </p>
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg>
                    </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="text-center font-normal leading-normal text-sm">No exercises found</td>
              </tr>
              {% endfor %}
            </tbody>
      </table>


    <script>
        $(document).ready( function () {
            $('#exercise-table').DataTable({
                "paging": false,  // Wyłącza paginację
                "ordering": true,  // Wyłącza sortowanie
                "info": false,  // Wyłącza informacje o stronach
                "searching": false  // Wyłącza pasek wyszukiwania
            });
        } );
    </script>
{% endblock %}