{% extends 'base.html' %}

{% block extra_head %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

{% endblock %}

{% block content %}
    <p class="font-medium text-gray-900 text-2xl mb-7">
        Pokaż tagi
    </p>
    <div class="flex flex-col">
    {% for category in tag_category %}
        <p class="font-medium text-gray-900 text-xl mb-2">{{ category.name }}</p>
        <table class="w-1/3 table-fixed" datatable id="{{ forloop.counter }}-tags-table">
            <thead class="">
              <tr class="bg-white my-5">
                <th class="w-1/5 py-5 px-6 text-left text-gray-600 font-bold uppercase">ID</th>
                <th class="py-5 px-6 text-left text-gray-600 font-bold uppercase">Nazwa</th>
                <th class="w-1/5 py-5 px-6 text-left text-gray-600 font-bold uppercase">Akcje</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              {% for tag in category.tags.all %}
              <tr>
                <td class="py-5 px-6 border-b border-r border-gray-200">{{ tag.id }}</td>
                <td class="py-5 px-6 border-b border-r border-gray-200">{{ tag.name }}</td>
                <td class="py-5 px-6 border-b border-r border-gray-200 flex flex-row justify-around">
                    <a href="{% url 'show_tag' id=tag.id %}" class="bg-green-600 flex flex-row w-20 justify-around rounded-md text-sm hover:bg-green-800">
                        <p class="text-white my-auto">
                            Pokaż
                        </p>
                        <svg  class="my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><path d="M3 9h18M9 21V9"/></svg>
                    </a>
                    <a href="{% url 'edit_tag' id=tag.id %}" class="bg-blue-500 flex flex-row w-20 h-6 justify-around rounded-md text-sm hover:bg-blue-700">
                        <p class="text-white my-auto">
                            Edytuj
                        </p>
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                    </svg>
                    </a>
                    <a href="{% url 'delete_tag' id=tag.id %}" class="bg-red-700 flex flex-row w-20 justify-around rounded-md text-sm hover:bg-red-900">
                        <p class="text-white my-auto">
                            Usuń
                        </p>
                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg>
                    </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="text-center font-normal leading-normal text-sm">No exercises found</td>
              </tr>
              {% endfor %}
            </tbody>
      </table>
    {% endfor %}
    </div>



    <script>
        {% for category in tag_category %}
            $(document).ready( function () {
                $('#{{ forloop.counter }}-tags-table').DataTable({
                    "paging": false,
                    "ordering": true,
                    "info": false,
                    "searching": false
                });
            } );
        {% endfor %}
    </script>
{% endblock %}