{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
<form class="grid grid-cols-1 gap-6 sm:grid-cols-2" method="post" enctype="multipart/form-data" id="user-form">
{% csrf_token %}
    <div class="space-y-6">
        <div
      class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
    >
      <div class="px-5 py-4 sm:px-6 sm:py-5">
        <h3
          class="text-base font-medium text-gray-800 dark:text-white/90"
        >
          Użytkownik #{{ client.id }}
        </h3>
      </div>
      <div
        class="space-y-6 border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800"
      >
        <!-- Elements First Name-->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Imię
          </label>
          <input name="first_name" id="first_name" disabled value="{{ client.first_name }}"
            type="text"
            class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
          />
        </div>
        <!-- Elements Last Name -->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Nazwisko
          </label>
          <input name="last_name" id="last_name" disabled value="{{ client.last_name }}"
            type="text"
            class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
          />
        </div>
        <!-- Elements Email -->
        <div>
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Email
          </label>
          <input name="email" id="email"  disabled value="{{ client.email }}"
            type="text"
            class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 h-11 w-full rounded-lg border border-gray-300 bg-transparent px-4 py-2.5 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
          />
        </div>
        <!-- Elements Status -->
      <div class="flex lg:flex-row flex-col">
        <div class="flex-1 mr-2">
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Status
          </label>
          <div
            x-data="{ isOptionSelected: false }"
            class="relative z-20 bg-transparent"
          >
            <input name="status" id="status"
              class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-4 py-2.5 pr-11 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
              :class="isOptionSelected && 'text-gray-800 dark:text-white/90'"
              @change="isOptionSelected = true"
                   value="{% if not client.profile.active_until and client.profile.is_active %}Aktywny{% elif not client.profile.active_until and not client.profile.is_active %}Nieaktywny{% else %}Aktywny do{% endif %}"
            />
            <span
              class="pointer-events-none absolute top-1/2 right-4 z-30 -translate-y-1/2 text-gray-500 dark:text-gray-400"
            >
              <svg
                class="stroke-current"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.79175 7.396L10.0001 12.6043L15.2084 7.396"
                  stroke=""
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div class="flex-1 ml-2">
          <label
            class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >
            Data wygaśnięcia
          </label>

          <div class="relative">
            <input
                    disabled
                name="active_until"
                id="active_until"
              placeholder="Select date"
              class="dark:bg-dark-900 shadow-theme-xs focus:border-brand-300 focus:ring-brand-500/10 dark:focus:border-brand-800 h-11 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-4 py-2.5 pr-11 pl-4 text-sm text-gray-800 placeholder:text-gray-400 focus:ring-3 focus:outline-hidden dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30"
              onclick="this.showPicker()"
                    value="{{ client.profile.active_until | date:'Y-m-d' }}"
            />
            <span
              class="pointer-events-none absolute top-1/2 right-3 -translate-y-1/2 text-gray-500 dark:text-gray-400"
            >
              <svg
                class="fill-current"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M6.66659 1.5415C7.0808 1.5415 7.41658 1.87729 7.41658 2.2915V2.99984H12.5833V2.2915C12.5833 1.87729 12.919 1.5415 13.3333 1.5415C13.7475 1.5415 14.0833 1.87729 14.0833 2.2915V2.99984L15.4166 2.99984C16.5212 2.99984 17.4166 3.89527 17.4166 4.99984V7.49984V15.8332C17.4166 16.9377 16.5212 17.8332 15.4166 17.8332H4.58325C3.47868 17.8332 2.58325 16.9377 2.58325 15.8332V7.49984V4.99984C2.58325 3.89527 3.47868 2.99984 4.58325 2.99984L5.91659 2.99984V2.2915C5.91659 1.87729 6.25237 1.5415 6.66659 1.5415ZM6.66659 4.49984H4.58325C4.30711 4.49984 4.08325 4.7237 4.08325 4.99984V6.74984H15.9166V4.99984C15.9166 4.7237 15.6927 4.49984 15.4166 4.49984H13.3333H6.66659ZM15.9166 8.24984H4.08325V15.8332C4.08325 16.1093 4.30711 16.3332 4.58325 16.3332H15.4166C15.6927 16.3332 15.9166 16.1093 15.9166 15.8332V8.24984Z"
                  fill=""
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="space-y-6">
        <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
      <div class="px-5 py-4 sm:px-6 sm:py-5">
        <h3
          class="text-base font-medium text-gray-800 dark:text-white/90"
        >
          Zdjęcie użytkownika
        </h3>
      </div>
      <div
        class="space-y-6 border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800"
      >
        <!-- Elements -->
            <div class="mb-5">
                {% if client.profile.image %}
                    <img class="rounded-md aspect-w-1 aspect-h-1 pb-0" src="/media/{{ client.profile.image }}" alt="Zdjęcie ćwiczenia">
                {% endif %}
            </div>
      </div>
    </div>
    </div>
</form>
{% endblock %}


{% block end_file %}

{% endblock %}