SECRET_KEY='django-insecure-dfiv9c$j9*5*6e^qc5divrf$))51nc$zp$j6@z6&1&-82q!nt*'

DEBUG=on

ALLOWED_HOSTS='127.0.0.1,localhost'

DATABASE_ENGINE='django.db.backends.sqlite3'
DATABASE_NAME='db.sqlite3'
DATABASE_USER=''
DATABASE_PASS=''
DATABASE_HOST=''
DATABASE_PORT=''

NPM_BIN_PATH=''
